body {
	font-size: 15px;
	font-family: 'Lexend Deca', sans-serif;
	background-color: hsl(0, 0%, 95%);
	position: relative;
	margin: 0;
}

button {
	border: solid hsl(0, 0%, 95%) 2px;
	border-radius: 30rem 30rem;
	padding: 12px 30px;
	font-weight: 600;
}

button:hover {
	background-color: hsla(0, 0%, 100%, 0);
	color: hsl(0, 0%, 95%);
}

h2 {
	font-family: 'Big Shoulders Display', cursive;
	font-size: 2.5rem;
	color: hsl(0, 0%, 95%);
	text-transform: uppercase;
}

img {
	max-width: 4rem;
}

.container {
	width: 90%;
	min-width: 265px;
	margin-top: 0;
	margin: auto;
}

.box {
	display: block;
	padding: 40px 40px;
}

p {
	color: hsla(0, 0%, 100%, 0.75);
	line-height: 26px;
	margin-bottom: 2rem;
}

.left-box {
	background-color: hsl(31, 77%, 52%);
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
}

.left-box button {
	color: hsl(31, 77%, 52%);
}

.middle-box {
	background-color: hsl(184, 100%, 22%);
}

.middle-box button {
	color: hsl(184, 100%, 22%);
}

.right-box {
	background-color: hsl(179, 100%, 13%);
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.right-box button {
	color: hsl(179, 100%, 13%);
}

.mobile-spacer {
	display: block;
	height: 2rem;
}

.attribution {
	position: absolute;
	bottom: 10px;
	width: 99%;
	text-align: center;
}

@media only screen and (min-width: 475px) {
	.container {
		max-width: 425px;
	}
}



/* DESKTOP STYLES*/
@media only screen and (min-width: 1115px) {
	p {
		margin-bottom: 5rem;
	}

	.content {
		height: 98vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container {
		display: flex;
		max-width: none;
		width: 59.5%;
		margin: auto;
	}

	.box {
		display: flex;
		flex-direction: column;
	}

	.left-box {
		background-color: hsl(31, 77%, 52%);
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
		border-top-right-radius: 0;
	}

	.middle-box {
		background-color: hsl(184, 100%, 22%);
	}

	.right-box {
		background-color: hsl(179, 100%, 13%);
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
		border-bottom-left-radius: 0;
	}

	.filler {
		flex-grow: 1;
	}

	.mobile-spacer {
		display: none;  	
	}

	.attribution {
		position: absolute;
		bottom: 10px;
		width: 99%;
		text-align: center;
	}
}